################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASP.NET Core/Streamy.zip
/ASP.NET Core/StreamyDummy.zip
